In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
df[df['population'] < 500][['population','median_house_value']]

       population  median_house_value
2           333.0             85700.0
7           375.0             48500.0
17           64.0             25000.0
19           29.0             27500.0
21          227.0             59200.0
...           ...                 ...
16944       320.0            130600.0
16951       235.0             67500.0
16969       392.0             60000.0
16982       480.0            107000.0
16994       434.0             76100.0

[1601 rows x 2 columns]

Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [ ]:
df.loc[df['population'] <= 500, 'median_house_value'].mean()

206799.95140186916

Нашли миниммальное значение population

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Узнать какая максимальная households в зоне минимального значения population

In [ ]:
df.loc[df['population'] == 3, 'households'].max()

4.0